services:
  birdnetserver:
    container_name: birdnetserver
    restart: unless-stopped
    image: mmcc73/birdnetserver:latest 
    ports:
      - "7667:8080"
    networks:
      general_brg:
#-----------------------------------------------
  redis:
    image: "redis:latest"
    container_name: redis
    networks:
      general_brg:
#-----------------------------------------------
  birdcage_backend:
    image: "mmcc73/birdcage_backend:latest"
    container_name: birdcage_backend
    ports:
      "7007:7007"
    environment:
      DATABASE_FILE: /db/birdcage.db #comment for HA addon
      #DATABASE_FILE: share/birdcage/db/birdcage.db #uncomment for HA addon 
      API_SERVER_PORT: 7007
      TEMP_DIR_NAME: tmp
      ANALYZE_SERVER: 192.168.213.130
      ANALYZE_PORT: 7667
      DETECTION_DIR_NAME: detections #comment for HA addon
      #DETECTION_DIR_NAME: share/birdcage/detections #uncomment for HA addon 
      CORS_ORIGINS: http://192.168.213.130:7008
      REDIS_SERVER: redis
      REDIS_PORT: 6379
      CONCURRENCY: 10
      JWT_SECRET_KEY: ${JWT_SECRET_KEY} #this is used to sign tokens, so use your own Enlightenment philosopher quote
    tmpfs:
      - /tmp:size=128M
    #volumes_from: #uncomment for HA addon 
    #  - container:addon_local_birdcage #uncomment for HA addon 
    volumes:
      - ${DOCKERCONFIGPATH}/bcbackend/detections:/detections #comment for HA addon
      - ${DOCKERCONFIGPATH}/bcbackend/db:/db #comment for HA addon
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
    depends_on:
      - redis
    networks:
      general_brg:
#-----------------------------------------------
  birdcage_frontend:
    image: "mmcc73/birdcage_frontend:latest"
    container_name: birdcage_frontend
    ports:
      "7008:7008"
    environment:
      API_SERVER_URL: http://192.168.213.130:7007
      WEBUI_PORT: 7008
      #SCRIPT_NAME: /birdcage # Uncomment this if you want to reverse proxy to BirdCAGE at a subfolder like /birdcage/
      #TITLE_TEXT: Your Title Here
      #TITLE_LINK: http://yourlinkhere
      #TITLE_TEXT: Your Title Here
      #Include the above variables if you want to put some text, and optionally a link, in the nav bar
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
    depends_on:
      - birdcage_backend
    networks:
        service_mac_vlan:
          ipv4_address: 192.168.213.130
    networks:
      general_brg:
#-----------------------------------------------
networks:
    service_mac_vlan:
      external: true
    general_brg:
      external: true
    vpn_stack_brg:
      external: true