---
services: 
#---------------------------------------------
  cloudflared: 
    image: cloudflare/cloudflared 
    container_name: cloudflare-tunnel
    user: "568:568"
    restart: always 
    #network_mode: host
    networks:
      dmz_mac_vlan:
        ipv4_address: 192.168.215.132
      general_brg:
    command: tunnel run 
    environment: 
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
#---------------------------------------------
  cloudflare-ddns:
    image: favonia/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    #network_mode: host
    networks:
      dmz_mac_vlan:
        ipv4_address: 192.168.215.130
      general_brg:
    restart: always
    user: "568:568"
    read_only: true
    cap_drop: [all]
    security_opt: [no-new-privileges:true]
    environment:
      - CLOUDFLARE_API_TOKEN=${NEW_DOMAIN_DNS_EDIT_CF}
      - DOMAINS=${A_RECORDS}
      - PROXIED=false
      - IP6_PROVIDER=none
#---------------------------------------------
networks:
    dmz_mac_vlan:
      external: true