services:
#-----------------------------------------------
  gluetun:
    image: qmcgaw/gluetun
    restart: unless-stopped
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      vpn_stack_brg:
    ports:
      - 5041:5041/tcp # qbittorrent
      - 5041:5041/udp # qbittorrent
      - 8081:8081/tcp # qbittorrent webui
      - 9696:9696/tcp # prowlarr
      - 7878:7878/tcp # radarr
      - 8989:8989/tcp # sonarr
      - 8191:8191/tcp # flaresolverr
    volumes:
      - ${DOCKERCONFIGPATH}/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=${VPNHOST}
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${OPENVPNUSER}
      - OPENVPN_PASSWORD=${OPENVPNPASSWORD}
      - TZ=Europe/London
      - SERVER_COUNTRIES=Spain,Switzerland,Netherlands,Panama
      - UPDATER_PERIOD=12h
      - DOT=on
      - DOT_CACHING=on
      - BLOCK_MALICIOUS=off
      - BLOCK_SURVEILLANCE=on
      - BLOCK_ADS=off
      - DOT_PROVIDERS=cloudflare
    labels:
      deunhealth.restart.on.unhealthy: true 
#-----------------------------------------------
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=568
      - PGID=568
      - TZ=Europe/London
      - WEBUI_PORT=8081
      - TORRENTING_PORT=5041
      - DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
    volumes:
      - ${DOCKERCONFIGPATH}/qbittorrent/config:/config
      - ${DOCKERCONFIGPATH}/qbittorrent/logs:/logs
      - ${DOWNLOADSPATH}/downloads:/downloads
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      # Checks if WebUI is responsive.
      test: "curl --fail http://localhost:8081 || exit 1"
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      deunhealth.restart.on.unhealthy: true
#-----------------------------------------------
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=568
      - PGID=568
      - TZ=Europe/London
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    volumes:
      - ${DOCKERCONFIGPATH}/prowlarr/config:/config
      - ${DOWNLOADSPATH}/downloads/media:/media
      - ${DOWNLOADSPATH}/downloads:/downloads
    restart: unless-stopped
    healthcheck:
      test: "curl --fail http://localhost:9696/ping || exit 1"
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      deunhealth.restart.on.unhealthy: true
#-----------------------------------------------
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=568
      - PGID=568
      - TZ=Europe/London
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    volumes:
      - ${DOCKERCONFIGPATH}/radarr/config:/config
      - ${DOWNLOADSPATH}/downloads:/downloads
      - ${DOWNLOADSPATH}/downloads/media/video/film:/film
    restart: unless-stopped
    healthcheck:
      test: "curl --fail http://localhost:7878/ping || exit 1"
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      deunhealth.restart.on.unhealthy: true
#-----------------------------------------------
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=568
      - PGID=568
      - TZ=Europe/London
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    volumes:
      - ${DOCKERCONFIGPATH}/sonarr/config:/config
      - ${DOWNLOADSPATH}/downloads:/downloads
      - ${DOWNLOADSPATH}/downloads/media/video/tv:/tv
    restart: unless-stopped
    healthcheck:
      test: "curl --fail http://localhost:8989/ping || exit 1"
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      deunhealth.restart.on.unhealthy: true
#-----------------------------------------------
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=Europe/London
    restart: unless-stopped
    healthcheck:
      test: "curl --fail http://localhost:8191 || exit 1"
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      deunhealth.restart.on.unhealthy: true
#-----------------------------------------------
  deunhealth:
    image: qmcgaw/deunhealth
    container_name: deunhealth
    network_mode: "none"
    environment:
      - LOG_LEVEL=info
      - HEALTH_SERVER_ADDRESS=127.0.0.1:9999
      - TZ=Europe/London
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
#-----------------------------------------------
networks:
  vpn_stack_brg:
    external: true