---
services:
  nginx-pm:
    container_name: nginx-rp
    image: 'jc21/nginx-proxy-manager:latest'
    restart: always
    ports:
      - 80:80
      - 81:81
      - 443:443
    networks:
      dmz_mac_vlan:
        ipv4_address: 192.168.215.129
      service_mac_vlan:
        ipv4_address: 192.168.213.129
      vpn_stack_brg:
      dev_bridge:
      general_brg:
    environment:
      - PUID=568
      - PGID=568
      - TZ=Europe/London
    volumes:
      - ${CONFIG_PATH}/nginx-rp/config:/data
      - ${CONFIG_PATH}/nginx-rp/le:/etc/letsencrypt
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 10s
      timeout: 3s
      retries: 3
#-----------------------------------------------
  privatebin:
    image: "privatebin/nginx-fpm-alpine:stable"
    container_name: privatebin
    read_only: true
    networks:
      dmz_mac_vlan:
        ipv4_address: 192.168.215.133
    restart: always
    volumes:
      - privatebin_cfg:/srv/data
      - /dev/shm:/var/lib/nginx/tmp
#-----------------------------------------------
  speedtest:
      restart: unless-stopped
      container_name: openspeedtest
      environment:
        - PUID=568
        - PGID=568
        - TZ=Europe/London
      ports:
        - '3000:3000'
        - '3001:3001'
      image: openspeedtest/latest
      networks:
        general_brg:
#-----------------------------------------------
volumes:
    privatebin_cfg:
#-----------------------------------------------
networks:
    dmz_mac_vlan:
      external: true
    service_mac_vlan:
      external: true
    general_brg:
      external: true
    vpn_stack_brg:
      external: true
    dev_bridge:
      external: true
    