services:
#-----------------------------------------------
  nginx-pm:
    container_name: nginx-rp
    image: 'jc21/nginx-proxy-manager:latest'
    restart: always
    ports:
      - 80:80
      - 81:81
      - 443:443
    networks:
      general_brg:
      vpn_stack_brg:
      #dmz_mac_vlan:
        #ipv4_address: 192.168.215.136
      #service_mac_vlan:
        #ipv4_address: 192.168.213.129
    environment:
      - PUID=568
      - PGID=568
      - TZ=${TZ}
    volumes:
      - ${CONFIG_PATH}/nginx-rp/config:/data
      - ${CONFIG_PATH}/nginx-rp/le:/etc/letsencrypt
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 120s
      timeout: 3s
      retries: 3
#-----------------------------------------------
  cloudflared: 
    image: cloudflare/cloudflared 
    container_name: cloudflare-tunnel
    user: "568:568"
    restart: always 
    #network_mode: host
    networks:
      dmz_mac_vlan:
        ipv4_address: 192.168.215.132
      general_brg:
    command: tunnel run 
    environment: 
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
#-----------------------------------------------
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=568
      - PGID=568
      - TZ=${TZ}
    networks:
      vpn_stack_brg:
      general_brg:
      dmz_mac_vlan:
        ipv4_address: 192.168.215.134
    ports:
      - 5055:5055
    volumes:
      - ${CONFIG_PATH}/overseerr:/config
    restart: unless-stopped
    healthcheck:
      test: "curl --fail http://localhost:5055/api/v1/status || exit 1"
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 60s # Vital: Gives Overseerr time to boot
#-----------------------------------------------
networks:
    dmz_mac_vlan:
      external: true
    service_mac_vlan:
      external: true
    general_brg:
      external: true
    vpn_stack_brg:
      external: true
    
