---
services:
#-----------------------------------------------
    plex:
      image: lscr.io/linuxserver/plex:latest
      container_name: plex
      restart: always
      environment:
        - PUID=568
        - PGID=568
        - TZ=Europe/London
        - PLEX_CLAIM=${PLEX_CLAIM}
      volumes:
        - ${CONFIG_PATH}/pms:/config
        - ${MEDIA_PATH}:/library
        - /dev/shm:/transcode
      devices:
        - /dev/dri:/dev/dri
      group_add:
        - "109"
      network_mode: host
      #networks:
        #general_brg:
#-----------------------------------------------
    unmanic:
      container_name: unmanic
      image: josh5/unmanic:latest
      restart: always
      ports:
        - 8888:8888
      environment:
        - PUID=568
        - PGID=568
        - TZ=Europe/London
      volumes:
        - ${CONFIG_PATH}/unmanic:/config
        - ${MEDIA_PATH}:/library
        - /dev/shm:/tmp/unmanic
        # Swap this out when there isnt enough ram
        #- ${CONFIG_PATH}/unmanic-tmp:/tmp/unmanic
      devices:
        - /dev/dri:/dev/dri
      group_add:
        - "109"
      networks:
        general_brg:
#-----------------------------------------------
networks:
    general_brg:
      external: true
    vpn_stack_brg:
      external: true

