---
services:
#-----------------------------------------------
#-----------------------------------------------
networks:
    general_brg:
      external: true
    vpn_stack_brg:
      external: true
