---
services:
#-----------------------------------------------
  watchtower:
    container_name: watchtower
    restart: always
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      general_brg:
      vpn_stack_brg:
      service_mac_vlan:
#-----------------------------------------------
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: unless-stopped
    environment:
      DOZZLE_LEVEL: info
      DOZZLE_TAILSIZE: 300
      DOZZLE_FILTER: "status=running"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
        service_mac_vlan:
#-----------------------------------------------
  homebridge:
    image: homebridge/homebridge:ubuntu
    container_name: homebridge
    restart: always
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - PUID=568
      - PGID=568
      - TZ=Europe/London
      - HOMEBRIDGE_CONFIG_UI_PORT=8581
    volumes:
      - ${CONFIG_PATH}/homebridge:/homebridge
    networks:
        service_mac_vlan:
#-----------------------------------------------
networks:
    dmz_mac_vlan:
      external: true
    service_mac_vlan:
      external: true
    general_brg:
      external: true
    vpn_stack_brg:
      external: true
